body {
    font-family: 'Arial', sans-serif;
    background-color: #ccf2ff; 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    background-color: #33ccff; 
    color: white;
    padding: 20px;
    text-align: center;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul li {
    display: inline;
    margin-right: 20px;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.productos {
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid #33ccff; 
}

.productos h2 {
    border-bottom: 2px solid #33ccff; 
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #33ccff; 
}

.product {
    border: 1px solid #33ccff; 
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 0;
    color: #333; 
}

.product p {
    margin-bottom: 10px;
    color: #666; 
}

.product a.btn {
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    background-color: #33ccff; 
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product a.btn:hover {
    background-color: #3399ff; 
}

.footer {
    background-color: #33ccff; 
    color: white;
    text-align: center;
    padding: 10px 0;
}