<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="../css/mujeres.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos para Mujeres - Tienda de Zapatillas</title>
    <link rel="stylesheet" href="mujeres.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="hombres.html">Hombre</a></li>
                <li><a href="mujeres.html">Mujer</a></li>
                <li><a href="niños.html">Niños</a></li>
              <li>  <a href="../../index.html">Inicio</a> </li>
               
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <section class="hero">
            <h1>Bienvenido a BigShow</h1>
            <p>Encuentra tus zapatillas perfectas</p>
            
        </section>
        
        <section class="productos">
            <h2>Productos para Mujeres</h2>
            <img src="../img/zapatillas m 1.webp" alt="Zapatilla 1">
            <h2>Zapatilla Adidas </h2>
            <p class="short-description">Fomentando la superación, la innovación y el estilo, Adidas inspira a los atletas y creadores a desafiar lo convencional y alcanzar nuevas alturas</p>
            
            <img src="../img/zapatillas m 2.webp" alt="Zapatilla 1">
            <h2>Zapatilla Adidas </h2>
            <p class="short-description">Fomentando la superación, la innovación y el estilo, Adidas inspira a los atletas y creadores a desafiar lo convencional y alcanzar nuevas alturas</p>
            
            <img src="../img/zapatillas m 3.webp" alt="Zapatilla 1">
            <h2>Zapatilla Nike </h2>
            <p class="short-description">Las zapatillas Nike combinan comodidad y estilo en un diseño moderno. Con su amortiguación  brindan una sensación de ligereza y suavidad en cada paso.</p>
           
        </section>
    </main>
    
   
</body>
</html>