<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="../css/niños.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos para Niños - Tienda de Zapatillas</title>
    <link rel="stylesheet" href="niños.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="hombres.html">Hombre</a></li>
                <li><a href="mujeres.html">Mujer</a></li>
                <li><a href="ninos.html">Niños</a></li>
                <li>  <a href="../../index.html">Inicio</a> </li>
             
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <section class="hero">
            <h1>Bienvenido a BigShow</h1>
            <p>Encuentra tus zapatillas perfectas</p>
            
        </section>
        
        <section class="productos">
            <h2>Productos para Niños</h2>
            <img src="../img/zapatillas n 4.jpg" alt="Zapatilla ">
            <h2>Zapatilla Nike </h2>
            <p class="short-description">Las zapatillas Nike combinan comodidad y estilo en un diseño moderno. Con su amortiguación  brindan una sensación de ligereza y suavidad en cada paso.</p>
       
            <img src="../img/zapatillas niño 2.jpg" alt="Zapatilla ">
            <h2>Zapatilla Umbro </h2>
            <p class="short-description"> Tradición en cada paso, excelencia en cada juego: Umbro, el espíritu del deporte.</p>

            <img src="../img/zapatillas niño 5.jpg" alt="Zapatilla 1">
            <h2>Zapatilla Nike </h2>
            <p class="short-description">Las zapatillas Nike combinan comodidad y estilo en un diseño moderno. Con su amortiguación  brindan una sensación de ligereza y suavidad en cada paso.</p>
       
        </section>
    </main>
    
  
</body>
</html>